[core]
	repositoryformatversion = 0
	filemode = false
	bare = false
	logallrefupdates = true
	symlinks = false
	ignorecase = true

[http]
	corsProxy = https://corsproxy.remixproject.org/
[branch "main"]
	merge = refs/heads/main
	remote = origin
[remote "solidity-challenge"]
	fetch = +refs/heads/*:refs/remotes/Solidity-Challenge/*
	url = https://github.com/pgb028/Solidity-Challenge.git